<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>артем лох</h2>
    <p>body <%= body %></p>
    <p>price <%= price %></p>
  </body>
</html>
